*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(50, 69, 182);
}
h1{
    text-align: center;
    color: white;
    font-family: 'Raleway';
}
nav{
    padding: 2px;
    border: solid 2px;
    border-radius: 6px;
    max-width: fit-content;
    background-color: aliceblue;
    text-decoration: none;
    font-family: 'Raleway';
}
.table{
    background-color: white;
}
.divBotonDivisas{
    max-width: fit-content;
    max-height: fit-content;
    font-family: 'Raleway';
}
h4{
    color: white;
    font-family: 'Raleway';
}
.card-body{
    background-color: white;
  
}

.card-title{
    text-align: center;
    font-family: 'Raleway';
}
.row{
  position: relative;
  left: 85px;
}
.divCriptomonedas{
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    font-family: 'Raleway';
}
.btn-primary{
    position: relative;
    left: 25px;
}
.btn{
    background-color: rgb(38, 189, 231);
    font-family: 'Raleway';
}
.btn:hover{
    background-color: rgb(38, 186, 231);
}
footer{
    background-color: rgb(50, 69, 182);
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    font-family: 'Raleway';
}
table{
    font-family: 'Raleway';
}


 
