* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(91, 88, 88);
    background: radial-gradient(white, gray);
    max-width: 100%;
    max-height: 100%;

    
}

#containerDivisa {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Raleway';
    font-weight: 450;
}

.navbar {
    padding: 2px;
    border: solid 2px;
    border-radius: 6px;
    max-width: fit-content;
    color: white;
    text-decoration: none;
    font-family: 'Raleway';
}
.navbar-brand , .nav-link, .nav-item {
    color: white;
}
nav a:hover{
    background-color: rgba(245, 84, 92, 0.836);
    font-style: oblique;
}
.table {
    background-color: white;
}

.divBotonDivisas {
    max-width: fit-content;
    max-height: fit-content;
    font-family: 'Raleway';
}

h4,
h5,
h2 {
    color: rgb(0, 0, 0);
    font-family: 'Raleway';
}

h3 {
    font-family: 'Raleway';
}

.card-body {
    background-color: white;

}

.card-title {
    text-align: center;
    font-family: 'Raleway';
}

.row {
   display: flex;
   justify-content: center;
}

.divCriptomonedas {
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    font-family: 'Raleway';
}

.btn-primary {
 display: flex;
 justify-content: center;
}

.btn {
    background-color: rgb(38, 189, 231);
    font-family: 'Raleway';
}

.btn:hover {
    background-color: rgb(38, 186, 231);
}

footer {
    position: relative;
    top: 455px;
    width: 100%;
    height: 40px;
    color: #000000;
    font-family: 'Raleway';
    font-weight: 650;
}

table {
    font-family: 'Raleway';
}

button {
    border-radius: 5px;
    background-color: rgb(233, 14, 14);
    color: #ffff;
}

p {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: large;
}

text{
    font-family: 'Raleway';
    font-size: larger;
}

.h3NombreMoneda {
    font-family: 'Raleway';
    font-weight: 700;
    position: relative;
    top: 5px;
}
.cuadroEvento{
    background-color: #000000;
    width: 300px;
    height: 250px;
    color: #ffff;
   border-radius: 5px;
}
.imgDivisasCuadro{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
#resultadoUno{
    font-family: 'Raleway';
   background-color: #000000;
   color: white;
   width: fit-content;
   border-radius: 10px;
}
#resultadoDos{
    font-family: 'Raleway';
    background-color: #000000;
    color: white;
    width: fit-content;
    border-radius: 10px;
}
#resultadoTres{
    font-family: 'Raleway';
    background-color: #000000;
    color: white;
    width: fit-content;
    border-radius: 10px;
}
#resultadoBitcoinUno{
    font-family: 'Raleway';
    background-color: #000000;
    color: white;
    width: fit-content;
    border-radius: 10px;
}
#resultadoBitcoinDos{
    font-family: 'Raleway';
    background-color: #000000;
    color: white;
    width: fit-content;
    border-radius: 10px;
}
#resultadoBitcoinTres{
    font-family: 'Raleway';
    background-color: #000000;
    color: white;
    width: fit-content;
    border-radius: 10px;
}
.botonParlante{
    position: relative;
    left: 55px;
}
.banderas{
    width: 100px;
    height: 50px;
    box-shadow: 5px 8px 8px black;
}
.parrafoIndexDivisas{
    color: #000000;
    font-family: 'Raleway'; 
    font-style: oblique;
}
li{
    font-family: 'Raleway'; 
    color: rgb(0, 0, 0);
    
}