*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(50, 69, 182);
}
h1{
    text-align: center;
    color: white;
}
nav{
    padding: 2px;
    border: solid 2px;
    border-radius: 6px;
    max-width: fit-content;
    background-color: aliceblue;
    text-decoration: none;
}
.table{
    background-color: white;
}
.divBotonDivisas{
    max-width: fit-content;
    max-height: fit-content;
    position: absolute;
}
h4{
    color: white;
}
.card-body{
    background-color: white;
}
footer{
    background-color: rgb(50, 69, 182);
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}