* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(91, 88, 88);
    background: radial-gradient(white, gray);
    max-width: 100%;
    max-height: 100%;
}

#containerDivisa {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Raleway';
}

nav {
    padding: 2px;
    border: solid 2px;
    border-radius: 6px;
    max-width: fit-content;
    background-color: aliceblue;
    text-decoration: none;
    font-family: 'Raleway';
}

.table {
    background-color: white;
}

.divBotonDivisas {
    max-width: fit-content;
    max-height: fit-content;
    font-family: 'Raleway';
}

h4,
h5 {
    color: rgb(0, 0, 0);
    font-family: 'Raleway';
}

h3 {
    font-family: 'Raleway';
}

.card-body {
    background-color: white;

}

.card-title {
    text-align: center;
    font-family: 'Raleway';
}

.row {
    position: relative;
    left: 85px;
}

.divCriptomonedas {
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    font-family: 'Raleway';
}

.btn-primary {
    position: relative;
    left: 25px;
}

.btn {
    background-color: rgb(38, 189, 231);
    font-family: 'Raleway';
}

.btn:hover {
    background-color: rgb(38, 186, 231);
}

footer {
    position: relative;
    top: 455px;
    width: 100%;
    height: 40px;
    color: #000000;
    font-family: 'Raleway';
    font-weight: 650;
}

table {
    font-family: 'Raleway';
}

button {
    border-radius: 5px;
    background-color: rgb(233, 14, 14);
    color: #ffff;
    position: relative;
    top: 4px;
}

p {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: large;
}

text{
    font-family: 'Raleway';
    font-size: larger;
}

.h3NombreMoneda {
    font-family: 'Raleway';
    font-weight: 700;
    position: relative;
    top: 5px;
}